{% extends 'base.html.twig' %}

{% block title %}Les Series{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Les Series ({{ countSeries }})</h1><br>

<div class="row">
{% if lesSeriesTV is not empty %}
    <h4>Les Series TV</h4>
    {% for uneSerie in lesSeriesTV %}
        <ol class="list-group">
            <li class="list-group-item">
            <div>
                <h5>{{ uneSerie.titre }}</h5>
                <a href="{{ path('app_SerieTVModify', {id: uneSerie.id}) }}" class="btn btn-primary">Modifier</a>
                <form onSubmit="return confirm('Sure Sure ?')" action="{{ path('app_SerieDelete', {id : uneSerie.id}) }}", method="post">
                    <input type="hidden" name="_method" value="delete">
                    <input type="hidden" name="token" value="{{ csrf_token('deleteToken' ~ uneSerie.id) }}">

                    <button type="submit" class="btn btn-danger">Deletation Totales</button>
                </form>

            </div>
            </li>
        </ol>
    {% endfor %}
{% endif %}

    
</div>



<div class="row">
    {% if lesSeriesTV is not empty %}
    <h4>Les Series TV</h4>
        {% for uneSerie in lesSeriesTV %}
        <div class="col-md-3 mb-4">
            <div class="card h-100 d-flex flex-column">
                <div name="divImage" style="flex: 1 0 auto;">
                    <img class="card-img-top" src="{{ asset('images/'~uneSerie.image) }}" alt="Card image cap">
                </div>
                <div name="divPadding" style="flex: 0 0 auto; height: 0;"> <!-- Set the height to 0 by default -->
                </div>
                <div name="divFooter" class="card-footer text-muted">
                    <div style="float: left;">
                        <h5>{{ uneSerie.titre }}</h5>
                    </div>
                    <div style="text-align: center;">
                        <a href="{{ path('app_SerieTVModify', {id: uneSerie.id})  }}" class="btn btn-primary">Modifier</a>

                        <form action="{{ path('app_SerieDelete', {id : uneSerie.id}) }}", method="post">

                            <input type="hidden" name="_method" value="delete">
                            <input type="hidden" name="token" value="{{ csrf_token('deleteToken') }}">

                            <button type="submit" class="btn btn-danger">Deletation Totales</button>
                        </form>
                        
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    {% endif %}
            
         {% if lesSeriesWeb is not empty %}
        <h4>Les Series Web</h4>
        {% for uneSerie in lesSeriesWeb %}
        <div class="col-md-3 mb-4">
            <div class="card h-100 d-flex flex-column">
                <div name="divImage" style="flex: 1 0 auto;">
                    <img class="card-img-top" src="{{ asset('images/'~uneSerie.image) }}" alt="Card image cap">
                </div>
                <div name="divPadding" style="flex: 0 0 auto; height: 0;"> <!-- Set the height to 0 by default -->
                </div>
                <div name="divFooter" class="card-footer text-muted">
                    <div style="float: left;">
                        <h5>{{ uneSerie.titre }}</h5>
                    </div>
                    <div style="text-align: center;">
                        <a href="{{ path('app_SerieWEBModify', {id: uneSerie.id}) }}" class="btn btn-primary">Modifier</a>
                        <form action="{{ path('app_SerieDelete', {id : uneSerie.id}) }}", method="post">

                            <input type="hidden" name="_method" value="delete">
                            <input type="hidden" name="token" value="{{ csrf_token('deleteToken') }}">

                            <button type="submit" class="btn btn-danger">Deletation Totales</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
        {% endif %}
    </div>

</div>
{% endblock %}
