{% extends 'base.html.twig' %}

{% block title %}Les Series{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
        /* Custom CSS for advanced styling */
        body {
            background-color: #f8f9fa;
        }
        .movie-detail {
            background-color: #fff;
            border-radius: 10px;
            box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
            padding: 20px;
            margin-top: 20px;
        }
        .poster {
            border: 4px solid #343a40;
            border-radius: 10px;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
            max-width: 100%;
            height: auto;
        }
</style>

<div class="example-wrapper">
    <h1>La Serie</h1>
    
    <div class="container mt-5">
            <div class="row">
                <div class="col-md-4 text-center">
                    <img src=" {{ asset('images/'~uneSerie.image) }} " alt="" class="img-fluid poster">
                </div>
                <div class="col-md-8">
                    <div class="movie-detail">
                        <u><h1 class="mb-4"> {{ uneSerie.titre }}</h1></u>
                        <p><strong>Premiere Diffusion:</strong> {{ uneSerie.premiereDiffusion|date('d/m/Y') }}</p>
                        <p><strong>Nombres d'Episodes:</strong> {{ uneSerie.nbEpisodes }}</p>
                        <p><strong>Pays d'Origine:</strong> {{ uneSerie.lePays.nom }}</p>
                        <p><strong>Les Genres du Film:</strong> {% for leGenre in uneSerie.lesGenres %} {{ leGenre.libelle }} {% endfor %}</p>

                        {% if uneSerie.chaineDiffusion is defined  %} 
                            <p><strong>Chaine de Diffusion:</strong> {{ uneSerie.chaineDiffusion }}</p>
                        {% endif %}
                        {% if uneSerie.site is defined %} 
                            <p><strong>Lien vers la Series:</strong> {{ uneSerie.site }}</p>
                        {% endif %}
                        <h5 class="mt-4"><strong>Court Resume:</strong></h5>
                        <p>{{ uneSerie.resume }}</p>

                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
